#reload {
	width: 35px;
	height: 35px;
}

.spinner {
  animation: spin-animation 1s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.card {
    margin-bottom: 2px;
}

#tabs li {
	cursor: pointer;
}

.response-form input {
	display: none;
}

#p_questions {
	width: 50%;
	margin: auto;
}

#n_questions {
	width: 50%;
	margin: auto;
}

#tabs {
	width: 48%;
	margin: 1% auto;
	margin-bottom: -1px;
}

/* Para smartphones: */
@media (min-width: 320px) and (max-width: 480px) {
	#p_questions {
		width: 98%;
		margin: auto;
	}

	#n_questions {
		width: 98%;
		margin: auto;
	}

	#tabs {
		width: 96%;
	}
}
