#reload {
	width: 35px;
	height: 35px;
}

.spinner {
  animation: spin-animation 1s infinite;
  display: inline-block;
}
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.card {
    margin-bottom: 2px;
}

#tabs li {
	cursor: pointer;
}
#tabs.dark {
    border-bottom: none;
}
#tabs .nav-item .nav-link.bg-dark {
    background-color: rgba(0,0,0,0) !important;
}
#tabs .nav-item .bg-dark.active {
    background-color: #343a40 !important;
    border-color: rgba(0,0,0,.125) !important;
    color: #f8f9fa !important;
}
.nav-tabs .nav-link.bg-dark:hover {
    border-color: rgba(255,255,255,.125) !important;
}

.bg-darkerish {
    background-color: #394046 !important;
}

.bg-darkish {
    background-color: #454d54 !important;
}

.form-control {
  border: 1px solid rgba(0,0,0,.125);
}

.response-form input {
	display: none;
}

#p_questions {
	width: 50%;
	margin: auto;
}

#n_questions {
	width: 50%;
	margin: auto;
}

#tabs {
	width: 48%;
	margin: 1% auto;
	margin-bottom: -1px;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    .navbar-brand {
        margin-right: 0px;
    }

	#p_questions {
		width: 98%;
		margin: auto;
	}

	#n_questions {
		width: 98%;
		margin: auto;
	}

	#tabs {
		width: 96%;
	}
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #p_questions {
        width: 50%;
        margin: auto;
    }

    #n_questions {
        width: 50%;
        margin: auto;
    }

    #tabs {
        width: 48%;
        margin: 1% auto;
        margin-bottom: -1px;
    }
}

@media (max-width:281px) {
    #p_questions {
        width: 100%;
        margin: auto;
    }

    #n_questions {
        width: 100%;
        margin: auto;
    }

    #tabs {
        width: 90%;
        margin: 1% auto;
        margin-bottom: -1px;
    }
}
