.activity-tab {
	cursor: pointer;
}

#responses-section, #blocked-section {
	display: none;
}
#tabs {
    border-bottom: none;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
#tabs .nav-item {
    white-space: nowrap;
}
.list-group-item {
  /*Corrige BS*/
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:focus,
.list-group-item:hover {
  /*Corrige BS*/
  z-index: 0;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-brand {
        margin-right: 0px;
    }
}
