#questions {
	cursor: pointer;
}

#responses {
	cursor: pointer;
}

#responses-section {
	display: none;
}
#tabs {
    border-bottom: none;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
#tabs .nav-item {
    white-space: nowrap;
}
.list-group-item {
  /*Corrige BS*/
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:focus,
.list-group-item:hover {
  /*Corrige BS*/
  z-index: 0;
  text-decoration: none;
}
