.response-image {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}

main img {
    opacity: 0.75;
}

.vid-container {
  height: 20vw;
  max-height: 350px;
}

.yt-vid {
  position: relative;
  width: 60%;
  height: 100%;
  display: block;
}

.card-body {
  padding-bottom: 0.75rem;
}

.list-group-item {
  /*Corrige BS*/
  border: none;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item:focus,
.list-group-item:hover {
  /*Corrige BS*/
  z-index: 0;
  text-decoration: none;
}

.poster-info {
  display: flex;
  text-decoration: none;
  color: #f8f9fa;
  font-size: 80%;
}

.poster-info:hover {
  text-decoration: none;
  color: white;
}

.poster-container, .best-answer-badge {
  margin-bottom: 15px;
  color: #f8f9fa;
}

.best-answer-badge span {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.poster-profile-pic-container,
.poster-text-container {
  display: flex;
  align-items: center;
  padding-right: 6px;
}

.post-pub-date {
  color: #888;
}

body {
    background-color: #222;
    color: #f8f9fa;
}

.bg-main {
  background-color: #343a40 !important;
  color: #f8f9fa;
}

.list-group-item {
  padding-left: 0px;
  padding-right: 0px;
}

.dropdown-menu, .dropdown-item {
  background-color: #343a40 !important;
  color: #f8f9fa;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #222 !important;
  color: #f8f9fa;
}

textarea {
  background-color: #394046 !important;
  color: #f8f9fa !important;
}

.comment-form:focus, textarea:focus {
  color: #f8f9fa !important;
}

.comment-form {
  background-color: #454d54 !important;
  color: #f8f9fa !important;
}

.comments {
  background-color: #394046 !important;
  margin-top: 14px !important;
  padding: 10px;
  display: none;
}

.c {
  background-color: rgba(0, 0, 0, 0);
}

.comm-card {
  padding-top: 1.25rem;
}

.comm-form {
  display: flex;
}

.form-control {
  flex-grow: 1;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,.125);
}

.load-more {
  width: 100%;
}

main .card {
    margin-left: 0px;
    margin-right: 0px;
}
.edit-response-textarea {
    margin-top: 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar-brand {
        margin-right: 0px;
    }
  .vid-container {
    height: 50vw;
    max-height: 300px;
  }
  .yt-vid {
    position: relative;
    width: 90%;
    height: 100%;
    display: block;
  }
  .comm-form .btn {
    margin-top: 4px;
    flex-grow: 1;
  }
  .form-control {
    margin-right: 0px;
  }
}

.heart-comment {
  display: inline;
}

.icon {
  cursor: pointer;
}

main {
  width: 50%;
  margin: auto;
}

.card {
  margin: 1%;
}

.card, .list-group-item {
    background-color: rgba(0,0,0,0);
}

.response-control {
    float: right;
}

#edit-response-form {
  display: none;
}

.recommended {
  width: 50%;
  margin: auto;
}

.recommended h3 {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  main {
    width: 98%;
  }
  .recommended {
    width: 100%;
  }
  .r-question {
    width: 95%;
    margin: auto;
  }
}

#upload-photo {
  display: none;
}

#upload-photo-text {
    color: #f8f9fa;
}
