<nav class="navbar navbar-expand-sm navbar-light">
    {% if user.is_authenticated %}
    <a class="navbar-round navbar-toggler bg-main" id="nav-ask" href="/ask">
        <i class="fas fa-edit"></i>
    {% endif %}
    <a id="logo" href="/" class="navbar-brand"><img src="/static/images/asker.png" height="40px" alt="Asker"></a>

    {% if user.is_authenticated %}
    <button class="navbar-avatar navbar-round navbar-toggler bg-main" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style='background: url("/media/{{ user.userprofile.avatar }}") no-repeat center; background-size: contain;'></button>
    {% else %}
    <button class="navbar-toggler navbar-round bg-main" id="nav-menu" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-unlock-alt"></i>
    </button>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/user/{{ user.username }}"><i class="far fa-user"></i> perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ask"><i class="fas fa-question"></i> perguntar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">
                  <i class="far fa-bell"><span id="notif-badge" class="badge badge-danger" style="display: none; border-radius: 50%; color: #dc3545; font-size: 25%;">0</span></i>
                  notificações
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rank"><i class="fas fa-trophy"></i> rank</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rules"><i class="fas fa-pen-square"></i> convivência</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-external-link-alt"></i> sair</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/signin?redirect={{ request.get_full_path }}">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup?redirect={{ request.get_full_path }}">Criar uma conta</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
