{% load main_app_extras %}
<!doctype html>
<html lang="pt-br">
<head>
<title>Perguntar</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="asker, asker.fun, perguntar">
<meta name="description" content="Faça uma pergunta no Asker.fun">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/common.css?v=8">
<script src="/static/js/cookieman.js?v=1"></script>
<script>
	var cssfn = 'light.css';
	var cssversion = '?v=5';
	if (getDarkCookie() == 'true') { cssfn = 'dark.css'; }
	var link = document.createElement('link');
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = '/static/css/' + cssfn + cssversion;
	document.head.appendChild(link);
</script>
<script>function format_form(e){"?"!=e.question.value[e.question.value.length-1]&&(e.question.value+="?")}</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Font awesome -->
<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	
	{% include "includes/navbar.html" %}
	
	<main>
		{% if user_p.active %}
		<div id="inner">
			<form method="post" enctype="multipart/form-data" onsubmit="format_form(this)">
				{% csrf_token %}
				<div class="form-group ask-form">
					<input class="form-control" type="text" name="question" placeholder="Sua pergunta aqui" autocomplete="off" maxlength="180">
					<textarea width="100px" maxlength="5000" class="form-control" placeholder="Descrição (opcional)" name="description" style="height: 10em"></textarea>
					<label for="image">Imagem</label>
					<input type="file" class="form-control-file" id="image" name="file" onclick="return veracity_test({{ user_p.total_points }}, {% MINIMUM_POINTS_FOR_POSTING_IMAGES %});">

					<a href="#" class="vertical-spaced clickable" onclick="togglePoll();">Incluir enquete</a>

					<div class="card" id="poll-box" style="display: none;"><div class="card-body">
						<input id="choices-counter" type="hidden" name="choices-count" value="0">
						<input type="checkbox" name="is-multichoice" id="is-multichoice"><label class="left-spaced" for="is-multichoice">Permitir múltiplas escolhas</label>
						<div id="poll-choices">
							<div class="poll-choice" id="choice-1">
								<span>Opção 1:</span>
								<br>
								<input class="form-control poll-choice-text" type="text" name="choice-1" autocomplete="off" maxlength="60">
							</div>

							<div class="poll-choice" id="choice-2">
								<span>Opção 2:</span>
								<br>
								<input class="form-control poll-choice-text" type="text" name="choice-2" autocomplete="off" maxlength="60">
							</div>
						</div>

						<a href="#" class="clickable" style="float:left;" onclick="addPollChoice();"> Mais </a>
						<a href="#" class="clickable" style="float:right;" onclick="removePollChoice();"> Remover </a>

					</div></div>

					<input class="btn btn-primary" type="submit" value="Fazer pergunta">
				</div>
			</form>
		</div>

		<footer>
			<p>
				Email de suporte:
				<a href="mailto:mail.asker.fun@gmail.com">mail.asker.fun@gmail.com</a>
			</p>
		</footer>
{{ error|safe }}
{% else %}
<div class="alert alert-info"><p>Confirme seu email abrindo o link enviado para ele.<br>Este é o email usado na tela de cadastro: {{ user.email }}</p><p>Caso não encontre o email, verifique na pasta de spam.</p></div>
{% endif %}
	</main>
<script>
if (getDarkCookie() == 'true') {
	document.getElementsByClassName('navbar')[0].classList.add("navbar-dark");
	document.getElementsByClassName('navbar')[0].classList.remove("navbar-light");
}
</script>
<script>
	var pollChoices = 2;

	function addPollChoice() {
		if (pollChoices == 12) { return 0; }
		pollChoices += 1;
		var choicesDiv = document.getElementById('poll-choices');

		var newChoiceDiv = document.createElement('div');
		newChoiceDiv.class = 'poll-choice';
		newChoiceDiv.id = 'choice-' + pollChoices;
		newChoiceDiv.innerHTML += '<span>Opção '+ pollChoices +':</span><br><input class="form-control poll-choice-text" type="text" name="choice-'+ pollChoices +'" autocomplete="off" maxlength="60" required>';
		choicesDiv.appendChild(newChoiceDiv);

		document.getElementById('choices-counter').value = pollChoices;
	}

	function removePollChoice() {
		if (pollChoices == 2) { return 0; }
		let choiceDiv = document.getElementById('choice-' + pollChoices);
		choiceDiv.remove();
		pollChoices -= 1;
		document.getElementById('choices-counter').value = pollChoices;
	}

	function togglePoll() {
		let counter = document.getElementById('choices-counter');
		let pollBox = document.getElementById('poll-box');
		let pollChoicesTexts = document.getElementsByClassName('poll-choice-text');
		if (counter.value == 0) {
			pollBox.style = 'display: flex;';
			counter.value = pollChoices;
			for (var i = 0; i < pollChoicesTexts.length; i++) {
				pollChoicesTexts[i].required = true;
			}
		} else {
			pollBox.style = 'display: none;';
			counter.value = 0;
			for (var i = 0; i < pollChoicesTexts.length; i++) {
				pollChoicesTexts[i].required = false;
			}
		}
	}
</script>
<script src="/static/js/general_functions.js?version=2"></script>

<!-- NSFW -->
<script src="https://cdnjs.deepai.org/deepai.min.js"></script>
<script>
	deepai.setApiKey('quickstart-QUdJIGlzIGNvbWluZy4uLi4K');
	
	async function oi() {
		var resp = await deepai.callStandardApi("nsfw-detector", {
			image: document.getElementById('image'),
		});
	console.log(resp);
	}
</script>

</body>
</html>
