<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Faça-me perguntas!</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

<style>
	#mensagens {
		height: 250px;
		overflow: auto;
	}
	
	#msgs {
		width: 80%;
		margin: 0 auto;
	}
</style>
	</head>
	<body>
		<div id="msgs">
			<div id="mensagens">
			</div>
			<form method="post" id="formulario-mensagem">
				{% csrf_token %}
				<input type="text" name="text" id="msg-usuario">
				<button>Enviar</button>
			</form>
		</div>
		
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	document.getElementById("formulario-mensagem").onsubmit = function() {
		
		var msg = document.getElementById("msg-usuario").value;
		document.getElementById("msg-usuario").value = "";
		
		document.getElementById("mensagens").innerHTML += "<span class='msg'>Você: " + msg + "</span><br>";
		
		document.getElementById("mensagens").scrollTop = document.getElementsByClassName("msg")[document.getElementsByClassName("msg").length - 1].offsetTop;
		
		$.ajax({
			url: "/bot",
			type: "post",
			data: {
				csrfmiddlewaretoken: "{{ csrf_token }}",
				text: msg,
			},
			complete: function(data) {
				document.getElementById("mensagens").innerHTML += "<span class='msg'>Bot: " + data.responseText + "</span><br>";
				document.getElementById("mensagens").scrollTop = document.getElementsByClassName("msg")[document.getElementsByClassName("msg").length - 1].offsetTop;
			}
		});
		
		return false;
	};
</script>
	</body>
</html>
