<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<title>Alterar senha</title>
<style>
	#change-password-form {
		width: 50%;
		margin: auto;
	}
</style>
<script>
function validate_form() {
	form = document.getElementById('change-password-form')
	if (form.password1.value != form.password2.value) {
		form.password2.classList.add('is-invalid')
		return false
	}
	return true
}
</script>
</head>

	<body>
		<center>
			<h1>Alterar senha</h1>
		</center>
		<form method="post" action="/reset-password" id="change-password-form" onsubmit="return validate_form()">
			{% csrf_token %}
			<input type="hidden" name="email" value="{{ email }}">
			<input class="form-control" type="password" name="password1" placeholder="Nova senha" required>
			<input class="form-control" type="password" name="password2" placeholder="Repita a senha" required>
			<div class="invalid-feedback">
				As senhas não coincidem.
			</div>
			<input class="btn btn-outline-primary" type="submit" value="Alterar senha">
		</form>
		
<script>
	/* script para mandar confirmação de online para o servidor a cada x segundos. */
	/* a confirmação é enviada via ajax. */
	/* é recomendado colocar este script em todas as páginas, menos na página de login ou */
	/* de criar conta, por exemplo. */
	setInterval(function() {
		$.ajax({
			url: "/i-am-online",
			type: "get",
		});
	}, 30000);
</script>
		
	</body>
</html>
