{% load humanize %}
{% load main_app_extras %}
<!doctype html>
<html lang="pt-br">
<head>
<title>Asker | Página inicial</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Faça e responda perguntas na melhor e mais divertida comunidade de perguntas e respostas!">
<meta name="keywords" content="br.asker.fun, asker.fun, perguntas, respostas, asker">

<style id="wait">
	body {
		visibility: hidden;
		opacity: 0;
	}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/common.css?v=6">
<script src="/static/js/cookieman.js?v=1"></script>
<script>
	var cssfn = 'light.css';
	var cssversion = '?v=3';
	if (getDarkCookie() == 'true') { cssfn = 'dark.css'; }
	var link = document.createElement('link');
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = '/static/css/' + cssfn + cssversion;
	document.head.appendChild(link);

	document.getElementById('wait').remove();
</script>

<style>
.popular-question-img {
	display: block;
	max-width: 60%;
	margin: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
	.popular-question-img {
		max-width: 90%;
	}
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var csrf_token = "{{ csrf_token }}";
</script>
</head>

	<body>
	{% include "includes/navbar.html" %}
	{{ account_verification_alert|safe }}
	<main>
		<ul class="nav nav-tabs" id="tabs">
			<li class="nav-item">
				<span class="nav-link bg-main-tab" id="popular">Popular</span>
			</li>
			<li class="nav-item">
				<span class="nav-link bg-main-tab" id="news">Novas perguntas</span>
			</li>
		</ul>
<!-- Questões recentes -->
<section class="card bg-main" id="n_questions" style="display: none">
	<ul class="list-group list-group-flush" id="n_questions-list">
	</ul>
	
	<a class="btn btn-outline-primary" href="/news?page={{ questions.next_page_number }}">Próxima página</a>
</section>
<!-- !Questões recentes -->

<!-- Questões populares -->
<section class="card bg-main" id="p_questions" style="display: none">
	<ul class="list-group list-group-flush infinite-container" id="p_questions-list">
	</ul>
	
	<div class="end">
		<p>Fim! <i class="far fa-sad-cry"></i> Veja as <a href="/news">perguntas recentes.</a></p>
	</div>
</section>
<!-- !Questões populares -->
	</main>

<script>
recent_questions=[{% for q in questions %}{"id":{{ q.id }},"text":"{{ q.text }}","description":`{% format_question_description_for_json q.description %}`,"pub_date":"{% fix_naturaltime q.pub_date|naturaltime %}","total_answers":{% total_answers q.id %},"user_response":`{% answer user.username q.id %}`},{% endfor %}];
popular_questions=[{% for q in popular_questions %}{"id":{{ q.id }},"text":"{{ q.text }}","description":`{% format_question_description_for_json q.description %}`,"pub_date":"{% fix_naturaltime q.pub_date|naturaltime %}","total_answers":{% total_answers q.id %},"user_response":`{% answer user.username q.id %}`},{% endfor %}];
</script>

<script src="/static/js/index.js?v=12"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
	</body>
</html>
