<!doctype html>
<html lang="pt-br">
	<head>
		<title>Asker | Página inicial</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Faça e responda perguntas na melhor e mais divertida comunidade de perguntas e respostas!">
		<meta name="keywords" content="br.asker.fun, asker.fun, perguntas, respostas, asker">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/common.css?v=8.11">
		<script src="/static/js/cookieman.js?v=1"></script>
		<script>
			var cssfn = 'light.css';
			var cssversion = '?v=5.04';
			if (getDarkCookie() == 'true') { cssfn = 'dark.css'; }
			var link = document.createElement('link');
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = '/static/css/' + cssfn + cssversion;
			document.head.appendChild(link);
		</script>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			var csrf_token = "{{ csrf_token }}";
		</script>
	</head>

	<body>
	{% include "includes/navbar.html" %}
	<main>
		
		<style>
			{% if POPULAR %}
				#novas_questoes {
					display: none;
				}
				
				#questoes_populares {
					display: block;
				}
				
				#botao-popular {
					border-bottom-width: 3px;
				}
				
				.navegacao {
					margin-top: 10px;
					margin-bottom: 10px;
				}
				
				.navegacao button {
					border-radius: 0;
					font-size: 0.8em;
				}
			{% endif %}
			
			{% if NEWS %}
				#novas_questoes {
					display: block;
				}
				
				#questoes_populares {
					display: none;
				}
				
				#botao-recentes {
					border-bottom-width: 3px;
				}
				
				.navegacao {
					margin-top: 10px;
					margin-bottom: 10px;
				}
				
				.navegacao button {
					border-radius: 0;
					font-size: 0.8em;
				}
			{% endif %}
		</style>
		
		<div class="navegacao">
			<button class="btn btn-outline-primary text-uppercase" id="botao-popular">popular</button>
			<button class="btn btn-outline-primary text-uppercase left-spaced" id="botao-recentes">recentes</button>
		</div>
		<script>
			botao_popular = document.getElementById("botao-popular");
			botao_recentes = document.getElementById("botao-recentes");
			
			botao_popular.onclick = function() {
				botao_popular.style.borderBottomWidth = "3px";
				botao_recentes.style.borderBottomWidth = "1px";
				
				document.getElementById("questoes_populares").style.display = "block";
				document.getElementById("novas_questoes").style.display = "none";
				
				window.history.replaceState("object or string", "Title", "/");
			}
			
			botao_recentes.onclick = function() {
				botao_popular.style.borderBottomWidth = "1px";
				botao_recentes.style.borderBottomWidth = "3px";
				
				document.getElementById("questoes_populares").style.display = "none";
				document.getElementById("novas_questoes").style.display = "block";
				
				window.history.replaceState("object or string", "Title", "/news");
			}
		</script>
		
<!-- Questões recentes -->
<section class="card bg-main" id="novas_questoes">
	<ul class="list-group list-group-flush">
		{% for question in recent_questions %}
			{% include "base/pergunta.html" %}
		{% endfor %}
	</ul>
	<center>
		<img src="https://br.asker.fun/static/images/loading.gif" id="carregamento_novas_perguntas" width="15%">
	</center>
</section>

<!-- !Questões recentes -->

<!-- Questões populares -->
<section class="card bg-main" id="questoes_populares">
	
	<ul class="list-group list-group-flush">
		{% for question in popular_questions %}
			{% include "base/pergunta.html" %}
		{% endfor %}
	</ul>
	
	<div class="end">
		<p>Fim! <i class="far fa-sad-cry"></i> Veja as <a href="/news">perguntas recentes.</a></p>
	</div>
</section>
<!-- !Questões populares -->
	</main>

<div class="modal fade" id="question-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-main">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-main">
        <ul class="list-group list-group-flush">
			<li class="list-group-item bg-main">
				<a class="clickable" href="javascript:void(0);" onclick="silence_user()">
					<div>
						Não mostrar perguntas e respostas deste usuário
					</div>
				</a>
			</li>
		</ul>
      </div>
      <div class="modal-footer bg-main">
      </div>
    </div>
  </div>
</div>

<script src="/static/js/linkify/linkify.min.js"></script>
<script src="/static/js/linkify/linkify-jquery.min.js"></script>
<script src="/static/js/index.js?v=34"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
	</body>
</html>
