{% load main_app_extras %}
{% load humanize %}
<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style id="wait">
			body {
				visibility: hidden;
				opacity: 0;
			}
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
		<script src="/static/js/cookieman.js?v=1"></script>
		<link rel="stylesheet" href="/static/css/common.css?v=6">
		<script>
			var cssfn = 'light.css';
			var cssversion = '?v=4';
			if (getDarkCookie() == 'true') { cssfn = 'dark.css';}
			var link = document.createElement('link');
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = '/static/css/' + cssfn + cssversion;
			document.head.appendChild(link);

			document.getElementById('wait').remove();
		</script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<title>{{ question.text }} | Asker</title>
		<script>
$(function() {
	/*
	 * Quando o usuário envia uma resposta usando o formulário de enviar resposta
	 * dessa página, a resposta é enviada via ajax. O servidor retorna de volta
	 * o HTML da resposta renderizado preparado para ser inserido na página via JavaScript.
	 */
	$('#response-form').ajaxForm(function(data) {
		responses = document.getElementsByClassName('responses')[0];
		responses.innerHTML += data;

		/* Desativa o ícone de carregamento já que a resposta (teoricamente)
		 * já foi carregada na página.
		 */
		document.getElementById('response-loading-gif').style.display = 'none';

		/* Oculta o formulário de responder a pergunta porque a pergunta já foi respondida. */
		document.getElementById('response-form').style.display = 'none';
	});

	$('#edit-response-form').ajaxForm(function(answer_id) {
		document.getElementById('edit-response-form').style.display = 'none'
	});
});
function delete_response(response_button_dom_el,response_id){if(confirm('Opa! Você tem certeza que deseja apagar sua resposta?')){$.ajax({url:'/delete_response',data:{response_id:response_id,},complete:function() {response_button_dom_el.parentElement.parentElement.parentElement.parentElement.remove();}})}}
		</script>
	</head>
	<body>

		{% include "includes/navbar.html" %}
		<main>
			<div class="card bg-main">
				<div class="card-body">
					
					<div class="poster-container">
						<a class="poster-info" href="/user/{{ question.creator.user.username }}">
							<div class="poster-profile-pic-container">
								<img class="poster-profile-pic-popover" width="45px" src="{{ question.creator.avatar.url }}" alt="{{ question.creator.user.username }}">
							</div>
							<div class="poster-text-container">
								<div>
									<span>{{ question.creator.user.username }}</span>
									<br>
									<span title="{{ question.pub_date }}" class="post-pub-date">{% fix_naturaltime question.pub_date|naturaltime %}</span>
								</div>
							</div>
						</a>
					</div>
					
					<h3>{{ question.text }}</h3>
					{% if question.description != '' %}
					<hr>
					<p>{{ question.description|cut_description|safe|linebreaksbr }}</p>
					{% endif %}

					{% if question.get_embedded_content %}
					<div class="emb">
						{{ question.get_embedded_content|safe }}
					</div>
					<br>
					{% endif %}

					{% if question.image %}
					<center>
						<hr>
						<img width="70%" src="{{ question.image.url }}">
					</center>
					{% endif %}

					{% if question.has_poll %}
						{% voted user poll as VOTED %}
						{% if not VOTED and poll.may_vote and user.is_authenticated %}
							<div class="card poll poll-chooser bg-inner">
								<ul class="list-group list-group-flush">
								{% for choice in poll_choices %}
									<li class="choice list-group-item bg-inner-when-dark">
										<div class="chooser">
											<label>
												{% if poll.multichoice %}
													<input class="poll-option" type="checkbox" name="poll-option" value="{{ choice.id }}">
												{% else %}
													<input class="poll-option" type="radio" name="poll-option" value="{{ choice.id }}">
												{% endif %}
												<span class="left-spaced">{{ choice.text }}</span>
											</label>
										</div>
									</li>
								{% endfor %}
								</ul>
								<div class="card-footer">
									<button class="btn btn-primary" onclick="voteOnPoll();" >Votar</button>
									<span class="clickable left-spaced" onclick="openShower();">Ver resultados</span>
								</div>
							</div>
						{% endif %}

						<div class="card poll-shower bg-inner"><div class="card-body">
							<input type="hidden" name="qpoll" value="{{ poll.id }}">
							{% for choice in poll_choices %}
								<div class="choice-show">

									{% if user|has_chosen:choice %}
									<span class="float-right">
										<span class="vote-count">{{ choice.votes }}</span> votos
										<i class="fa fa-check-circle-o" aria-hidden="true"></i> </span>
									{% else %}
									<span class="float-right"><span class="vote-count">{{ choice.votes }}</span> votos</span>
									{% endif %}

									<span>{{ choice.text }}</span>

									<div class="progress progress-striped active">
										<div class="progress-bar progress-bar-primary" style="width: 0%;"></div>
									</div>
								</div>
							{% endfor %}

						</div>
							<div class="card-footer">
							{% if poll.may_vote %}
								{% if not VOTED and user.is_authenticated %}
									<span class="clickable left-spaced" onclick="openChooser();">Votar</span>
								{% elif user.is_authenticated %}
									<span class="clickable left-spaced" onclick="undoVote();">Retirar voto</span>
								{% else %}
									<span>Faça login ou crie uma conta para responder à enquete.</span>
								{% endif %}
							{% else %}
								<span>Votação encerrada.</span>
							{% endif %}
							</div>
						</div>
					{% endif %}

					{% if question.creator.user.username == user.username %}
					{% else %}
					<i class="far fa-flag" id="question-popover" data-toggle="popover" data-content="<p>Para denunciar esta pergunta, use o botão abaixo. Use apenas quando necessário.</p><button class='btn btn-outline-danger' onclick='report_question({{ question.id }}, this)'>Denunciar</button>"></i>
					{% endif %}

					{% if question.creator.user.username == user.username %}
					<button onclick="delete_question({{ question.id }})" class="btn btn-outline-danger">Apagar</button>
					{% endif %}
				</div>
			</div>

			<section class="card bg-main" id="responses">
  				<div class="card-header">
    				{{ question.total_responses }} respostas
  				</div>
				<ul class="list-group list-group-flush responses">
				{% for response in responses|pull_best_answer %}
					{% include "base/response-content.html" %}
				{% endfor %}
				</ul>
			</section>
			{% if user.is_authenticated %}
				{% if user_p.active %}
					{% answered user.username question.id as ANSWERED %}
					{% if not ANSWERED %}
						{% ablockb question.creator.user.username user.username as BLOCKED %}
						{% if not BLOCKED %}
							<form id="response-form" method="post" action="/save_answer" enctype="multipart/form-data" onsubmit="document.getElementById('response-loading-gif').style.display = 'block'; document.getElementById('send-response-btn').disabled = true;">
								{% csrf_token %}
								<input type="hidden" name="question_id" value="{{ question.id }}">
								<textarea maxlength="5000" class="form-control" placeholder="Escreva uma resposta..." name="text" required="required"></textarea>
								<input class="btn btn-outline-primary" type="submit" value="Enviar" id="send-response-btn">
								<label for="upload-photo"><img src="/static/images/camera.png?version=3" width="25px"> <span id="upload-photo-text"></span></label>
								<input type="file" accept="image/*" name="file" id="upload-photo" onclick="return veracity_test({{ user_p.total_points }}, {% MINIMUM_POINTS_FOR_POSTING_IMAGES %});">
								<img src="/static/images/close-icon.png" width="20px" style="display: none; cursor: pointer;" id="delete-photo-icon">
							</form>
							<img src="/static/images/loading.gif" width="30px" style="display: none;" id="response-loading-gif">
						{% else %}
							Pergunta indisponível.
						{% endif %}
					{% endif %}
				{% else %}
					<p>Confirme seu email para responder está pergunta.</p>
				{% endif %}
			{% else %}
				<p>Faça <a href="/signin?redirect=/question/{{ question.id }}">login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder esta pergunta.</p>
			{% endif %}
		
		<div class="recommended">
			<hr>
			<h3 class="text-secondary">— Responda também —</h3>
			<hr>
			
			{% for question in recommended_questions %}
			<div class="r-question">
				<a href="/question/{{ question.id }}"><b>{{ question.text }}</b></a>
				<br>
				<small class="text-muted">perguntada {% fix_naturaltime question.pub_date|naturaltime %} por <a href="/user/{{ question.creator.user.username }}">{{ question.creator.user.username }}</a></small>
				<hr>
			</div>
			{% endfor %}
		</div>

	</main>

<script src="/static/js/question.js?v=13"></script>
<script>
var formbgcolor='bg-white'; var bgcolor='bg-white'; var textcolor='text-dark';
var commentformbgcolor='bg-white'; var commentbgcolor='bg-light';
if (getDarkCookie() == 'true') {
	document.getElementsByClassName('navbar')[0].classList.remove("navbar-light");
	document.getElementsByClassName('navbar')[0].classList.add("navbar-dark");
}
</script>
<script src="/static/js/general_functions.js?version=2"></script>

	</body>

	<script>
r = Math.random();
if (r < 0.8) {
	document.getElementById("ad").remove();
}
</script>
<script>
/* Js p/ upload de imagem em respostas */
document.getElementById('upload-photo').onchange = function () {
	text = document.getElementById('upload-photo-text')
	delete_photo_icon = document.getElementById('delete-photo-icon')
	input = document.getElementById('upload-photo')
	text.innerText = input.value.slice(12)
	delete_photo_icon.style.display = 'inline'
}

document.getElementById('delete-photo-icon').onclick = function () {
	delete_photo_icon = document.getElementById('delete-photo-icon')
	input = document.getElementById('upload-photo')
	text = document.getElementById('upload-photo-text')
	delete_photo_icon.style.display = 'none'
	text.innerText = ''
	input.value = null
}
/* Fim: Js p/ upload de imagem em respostas */

function delete_question(id) {
    if (confirm('Opa! Tem certeza que deseja apagar sua resposta?')) {
		$.ajax({
			url: '/delete_question',
			type: 'post',
			data: {
				csrfmiddlewaretoken: '{{csrf_token}}',
				question_id: id,
			},
			complete: function() {
				window.location = window.location.href.match(/^https?\:\/\/([^\/?#]+)(?:[\/?#]|$)/i)[0] + 'news';
			}
		})
	}
}
	</script>

<script>
$('#profile-pic-popover').popover({
	trigger: 'hover',
	container: 'body',
	html: true,
});

$('.responder-profile-pic-popover').popover({
	trigger: 'hover',
	container: 'body',
	html: true,
});
</script>
</html>
