<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Programa de recompensas do Asker - Ganhe dinheiro!</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    
    <style>
      header {
        margin: 15px;
      }
      
      main {
        max-width: 95%;
        margin: auto;
      }
      
      #ad1 {
        max-width: 70%;
      }
      
      p {
        text-indent: 5px;
      }
      
      .title {
        font-size: 1.1em;
        color: black;
      }
    </style>
  </head>
  <body>
    <header>
      <center>
        <a href="/"><img src="/static/images/asker.png"></a>
      </center>
    </header>
    {% if user.is_authenticated %}
      <main>
        <span>Seu saldo: <span id="balance">{{ user_balance }}</span></span>
        <i class="fas fa-coins fa-sm"></i>
        <br>
        <span>Ganhos por referência: <span id="balance">{{ user_balance_ref }}</span></span>
        <i class="fas fa-coins fa-sm"></i>
        <br>
        <span>Seu link de referência: https://br.asker.fun/?r={{ user.id }}</span>
        <hr>
        
        
        
        
        
        
        {% if not CAN_SHOW_AD %}
<script>
  var tempo = new Date({{ sec }} * 1000).toISOString().substr(11, 8);
  // 00:00:00
  var min = Number(tempo.slice(3, 5)) - 60;
  var sec = Number(tempo.slice(6)) - 60;
  if (sec < 0) {
    sec *= -1;
  }
  if (min < 0) {
    min *= -1;
  }
  
  if(min == 60) {
    min = 59;
  }
  
  var handler = function() {
    sec -= 1;
    
    if (sec == -1) {
      sec = 59;
      min--;
    }
    
    document.getElementById("time").textContent = (min < 10 ? "0" + min : min) + ":" + (sec < 10 ? "0" + sec : sec);
    
    if (sec == 0 && min == 0) {
      window.location.reload();
    }
  };
  setInterval(handler, 1000);
  handler();
</script>
<h1 id="time" style="text-align: center"></h1>
<center><p>Espere o tempo acima para resgatar mais moedas.</p></center>
      <hr>
        {% else %}
        
        
        
        
        
        
        
        
        <center>
          <div>Clique no anúncio abaixo e receba {{ valor_da_recompensa }} moedas de recompensa.</div>
          <hr>
        </center>
        
        <center id="ad">
          <div id="ad1">
            <script async="async" data-cfasync="false" src="//pl16405437.highperformancecpm.com/a5a82325576f4300f3eeba835c04e59a/invoke.js"></script>
            <div id="container-a5a82325576f4300f3eeba835c04e59a"></div>
          </div>
        </center>
        <hr>
        {% endif %}
        
        
        
        <div class="explicacao">
          <center><span class="title">Como Funciona?</span></center>
          <p>Você ganha dinheiro real clicando em anúncios. É tão fácil quanto dar um click na tela do seu celular!</p>
          <p>Você ganha "moedas". Uma (1) moeda equivale a 5 centavos, é preciso de pelo menos 3000 moedas (R$ 25,00) para sacar.</p>
          <center><span class="title">Como Ganhar Ainda Mais!?</span></center>
          <p>É possível ganhar ainda mais divulgando o seu link de referência para seus amigos: você vai ganhar 30% de tudo que seus amigos ganharem. Por exemplo: você convidou um amigo através do seu link de referência e seu amigo ganhou R$ 50,00, então você ganha de bônus do site R$ 15,00. Ou seja, quanto mais amigos você convidar, mais você ganha!</p>
          <p>Aqui está seu link de referência: https://br.asker.fun/?r={{ user.id }}</p>
          <center><span class="title">Como Sacar</span></center>
          <p>É possível retirar o dinheiro via PicPay, Pix ou PayPal. Deseja outra forma de saque? <a href="mailto:minha.ccontta@gmail.com">Contate-me</a>.</p>
          <p>O botão de saque será liberado quando o valor mínimo de R$ 25,00 (3000 moedas) for atingido.</p>
        </div>
      </main>
    {% else %}
      <main>
        {% if ref %}
          <p><a href="/signup?redirect=/rewards&r={{ ref }}">Crie uma conta</a> ou <a href="/signin?redirect=/rewards">faça login</a> para começar a ganhar dinheiro! 🤑</p>
        {% else %}
          <p><a href="/signup?redirect=/rewards">Crie uma conta</a> ou <a href="/signin?redirect=/rewards">faça login</a> para começar a ganhar dinheiro! 🤑</p>
        {% endif %}
        
        <div class="explicacao">
          <center><span class="title">Como Funciona?</span></center>
          <p>Você ganha dinheiro real clicando em anúncios. É tão fácil quanto dar um click na tela do seu celular!</p>
          <p>Você ganha "moedas". Uma (1) moeda equivale a 5 centavos, é preciso de pelo menos 3000 moedas (R$ 25,00) para sacar.</p>
          <center><span class="title">Como Ganhar Ainda Mais!?</span></center>
          <p>É possível ganhar ainda mais divulgando o seu link de referência para seus amigos: você vai ganhar 30% de tudo que seus amigos ganharem. Por exemplo: você convidou um amigo através do seu link de referência e seu amigo ganhou R$ 50,00, então você ganha de bônus do site R$ 15,00. Ou seja, quanto mais amigos você convidar, mais você ganha!</p>
          <center><span class="title">Como Sacar</span></center>
          <p>É possível retirar o dinheiro via PicPay, Pix ou PayPal. Deseja outra forma de saque? <a href="mailto:minha.ccontta@gmail.com">Contate-me</a>.</p>
          <p>O botão de saque será liberado quando o valor mínimo de R$ 25,00 (3000 moedas) for atingido.</p>
        </div>
      </main>
    {% endif %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
    
    <script>
      valor_da_recompensa = "{{ valor_da_recompensa }}";
      
      document.getElementById("ad1").onclick = function() {
        $.ajax({
          url: "/increase_balance",
          complete: function () {
            alert("Parabéns! Você ganhou " + valor_da_recompensa + " moedas!");
            balance.innerText = String(Number(balance.innerText.replace(",", ".")) + Number(valor_da_recompensa.replace(",", "."))).replace(".", ",");
          }
        });
      };
    </script>
  </body>
</html>
