<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Programa de recompensas do Asker - Ganhe dinheiro!</title>
    
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    
    <style>
      header {
        margin: 15px;
      }
      
      main {
        max-width: 95%;
        margin: auto;
      }
      
      #ad1 {
        max-width: 70%;
      }
      
      p {
        text-indent: 5px;
      }
      
      .title {
        font-size: 1.1em;
        color: black;
      }
    </style>
  </head>
  <body>
    <header>
      <center>
        <a href="/"><img src="/static/images/asker.png"></a>
      </center>
    </header>
    {% if user.is_authenticated %}
      <main>
        <span>Seu saldo: 0,3</span>
        <i class="fas fa-coins fa-sm"></i>
        <hr>
        
        <div>Clique no anúncio abaixo e receba 0,1 moedas de recompensa.</div>
        <hr>
        <!--<center>
          <div id="ad1">
            <script async="async" data-cfasync="false" src="//pl16405437.highperformancecpm.com/a5a82325576f4300f3eeba835c04e59a/invoke.js"></script>
    <div id="container-a5a82325576f4300f3eeba835c04e59a"></div>
          </div>
        </center>-->
        
        <hr>
        
        <div class="explicacao">
          <center><span class="title">Como Funciona?</span></center>
          <p>Você ganha dinheiro real clicando em anúncios. É tão fácil quanto dar um click na tela do seu celular!</p>
          <p>Você ganha "moedas". Uma (1) moeda equivale a 5 centavos, é preciso de pelo menos 3000 moedas (R$ 25,00) para sacar.</p>
          <hr>
          <center><span class="title">Como Ganhar Ainda Mais!?</span></center>
          <p>É possível ganhar ainda mais divulgando o seu link de referência para seus amigos: você vai ganhar 30% de tudo que seus amigos ganharem. Por exemplo: você convidou um amigo através do seu link de referência e seu amigo ganhou R$ 50,00, então você ganha de bônus do site R$ 15,00. Ou seja, quanto mais amigos você convidar, mais você ganha!</p>
        </div>
      </main>
    {% else %}
      <main>
        <div class="explicacao">
          <center><span class="title">Como Funciona?</span></center>
          <p>Você ganha dinheiro real clicando em anúncios. É tão fácil quanto dar um click na tela do seu celular!</p>
          <p>Você ganha "moedas". Uma (1) moeda equivale a 5 centavos, é preciso de pelo menos 3000 moedas (R$ 25,00) para sacar.</p>
          <hr>
          <center><span class="title">Como Ganhar Ainda Mais!?</span></center>
          <p>É possível ganhar ainda mais divulgando o seu link de referência para seus amigos: você vai ganhar 30% de tudo que seus amigos ganharem. Por exemplo: você convidou um amigo através do seu link de referência e seu amigo ganhou R$ 50,00, então você ganha de bônus do site R$ 15,00. Ou seja, quanto mais amigos você convidar, mais você ganha!</p>
        </div>
      </main>
    {% endif %}
    
    <script src="https://kit.fontawesome.com/1f965a8b94.js"></script>
  </body>
</html>
