<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Regras do Asker</title>
  </head>
  <body>
    
    <header>
      <a href="/">Página inicial</a>
    </header>
    
    <p>Se você tem um motivo para não seguir alguma regra ou tem alguma sugestão de regra, <a href="mailto:minha.ccontta@gmail.com">envie-me um email</a>.</p>
    <p>As regras são usadas para manter a ordem no Asker. Aqui estão elas:</p>
    
    <ol>
      <li>É proibido se auto-pontuar usando várias contas próprias;</li>
      <li>É proibido fazer spam;</li>
      <li>É proibido postar pornografia, gore.</li>
    </ol>
    
    <h3><q>O que acontece se eu não respeitar as regras?</q></h3>
    <p>Você pode perder pontos, ser banido ou alguma outra atitude será tomada.</p>
    <p>As regras foram criadas para tornar o Asker um lugar melhor. Se você acha que alguma regra deve ser removida ou modificada, sua sugestão por <a href="mailto:minha.ccontta@gmail.com">email</a> será muito bem-vinda!<br>Obrigado pela compreensão! :)</p>
    <p><a href="/">#Asker</a></p>
    
  </body>
</html>
