<!-- Campo de responder perguntas direto da página inicial.
     Isso vai ser gerado dinamicamente, via JavaScript, usando este template.
     
     Observações:
     O csrfmiddlewaretoken vai ser obtido via JavaScript.
     
     Exemplo:
			antes do script.js que vai ter esse template:
				<script>
					var csrfmiddlewaretoken = {{ csrf_token }};
				</script>
  -->


<!-- Estilização do campo de responder perguntas. -->
<style>
	.campo-responder-pergunta .botao-mostrar-ou-ocultar-formulario a {
		color: #007bff;
	}
	
	.botao-mostrar-ou-ocultar-formulario {
		cursor: pointer;
	}
	
	.icone-carregando img {
		max-width: 5%;
	}
</style>


<div class="campo-responder-pergunta">
	<div class="botao-mostrar-ou-ocultar-formulario">
		<a>responder</a>
		<i class="far fa-edit"></i>
	</div>
	
	<div>
		<form class="formulario-responder-pergunta">
			<input type="hidden" name="csrfmiddlewaretoken" value="">
			<input name="question_id" type="hidden" value="{{ question.id }}">
			<textarea name="text" maxlength="5000" class="form-control form-control-sm" placeholder="Sua resposta" required></textarea>
			<button type="submit" class="btn btn-outline-primary btn-sm">
				<i class="far fa-paper-plane"></i>
				Enviar
			</button>
		</form>
	</div>
	
	<div class="icone-carregando">
		<img src="/static/images/loading.gif">
	</div>
</div>
