{% load main_app_extras %}
{% load humanize %}
<ul class="list-group list-group-flush">
	{% for question in popular_questions %}
		<li class="list-group-item bg-main">
			<div class="card-body">
				
				<!-- Pergunta. Título da pergunta. -->
				<h2 class="question-title">
					<a href="/question/{{ question.id }}">
							{{ question.text }}
					</a>
				</h2>
				
				{% if question.description %}
					<p>
						{{ question.description|cut_description|safe|linebreaksbr }}
					</p>
				{% endif %}
				
				<small class="text-muted">
					<span><span class="response-counter" data-iddapergunta="{{ question.id }}">{% total_answers question.id %}</span> resp.</span>
					<span>&nbsp;&middot;&nbsp;</span>
					<span>perguntado {% fix_naturaltime question.pub_date|naturaltime %}</span>
				</small>
				
				{% if user.is_authenticated %}
					{% answered user.username question.id as ANSWERED %}
					{% if ANSWERED %}
						
						<div class="user-response" data-iddapergunta="{{ question.id }}">
							<hr>
							<p>
								<font color="black">Sua resposta:</font><br>
									{% answer user.username question.id %}
							</p>
						</div>
						
					{% else %}
						
						<div class="user-response" data-iddapergunta="{{ question.id }}">
							<div>
								<hr>
								<button class="btn btn-outline-primary btn-sm" onclick="$(this).toggle(100); $(this.parentElement.nextElementSibling).toggle(100);">
									<i class="fas fa-share"></i>
									responder
								</button>
							</div>
							
							<div style="display: none">
								<form onsubmit="return enviar_resposta_pergunta(this);">
									{% csrf_token %}
									<input name="question_id" type="hidden" value="{{ question.id }}">
									<textarea name="text" maxlength="5000" class="form-control form-control-sm" placeholder="Sua resposta" required></textarea>
									<button name="submit_btn" type="submit" class="btn btn-outline-primary btn-sm">
										<i class="far fa-paper-plane"></i>
										Enviar
									</button>
								</form>
							</div>
						</div>
						
					{% endif %}
				{% else %}
					<div class="user-response" data-iddapergunta="{{ question.id }}">
						<hr>
						<p>
							<a href="/signin?redirect=/question/{{ question.id }}">Faça login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.
						</p>
					</div>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ul>
