{% spaceless %}
{% load main_app_extras %}
{% load humanize %}
<ul class="list-group list-group-flush infinite-container">
	{% for question in questions %}
	<li class="list-group-item bg-main infinite-item">
		<div class="card-body">

		<a href="/question/{{ question.id }}">
		<p><b>{{ question.text }}</b></p>
		</a>
		
		{% if question.description != '' %}
			<p>
				{{ question.description|cut_description|safe|linebreaksbr }}
			</p>
		{% endif %}
		
		<small class="recent-question-statistics">
			<div>
				<i class="far fa-edit"></i>
				{% total_answers question.id %}
				&middot;
				<i class="far fa-clock"></i>
				{% fix_naturaltime question.pub_date|naturaltime %}
			</div>
		</small>
		
		{% if user.is_authenticated %}
		
					{% answered user.username question.id as ANSWERED %}
					{% if ANSWERED %}
						<div>
							<hr>
							<p>
								<font color="black">Sua resposta:</font><br>
								{% answer user.username question.id %}
							</p>
						</div>
					{% else %}
						{% if render_directly %}
							<div class="form-responder-pergunta" data-questionid="{{ question.id }}">
								<div class="campo-responder-pergunta">
									<div class="botao-mostrar-ou-ocultar-formulario" onclick="mostrar_formulario_de_resposta(this.nextElementSibling.getElementsByTagName('form')[0]);">
										<a>responder</a>
										<i class="far fa-edit"></i>
									</div>
									
									<div>
										<form class="formulario-responder-pergunta" onsubmit="enviar_resposta(this); return false;">
											{% csrf_token %}
											<input name="question_id" type="hidden" value="{{ question.id }}">
											<textarea name="text" maxlength="5000" class="form-control form-control-sm" placeholder="Sua resposta" required></textarea>
											<button type="submit" class="btn btn-outline-primary btn-sm">
												<i class="far fa-paper-plane"></i>
												Enviar
											</button>
										</form>
									</div>
									
									<div class="icone-carregando">
										<img src="/static/images/loading.gif">
									</div>
								</div>
							</div>
						{% else %}
							<div class="form-responder-pergunta" data-questionid="{{ question.id }}">
							</div>
						{% endif %}
					{% endif %}
		
		{% else %}
			<p><a href="/signin?redirect=/question/{{ question.id }}">Faça login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder essa pergunta.</p>
		{% endif %}
		</div>
	</li>
	{% endfor %}
</ul>
{% if questions.has_next %}
  <a class="btn btn-primary infinite-more-link" href="/news?page={{ questions.next_page_number }}">Próxima página</a>
{% endif %}
{% endspaceless %}
