{% spaceless %}
{% load main_app_extras %}
<ul class="list-group list-group-flush infinite-container">
	{% for question in questions %}
	<li class="list-group-item bg-main infinite-item">
		<div class="card-body">

      <a href="/question/{{ question.id }}" style="text-decoration: none">
        <p>
          {{ question.text }}
        </p>
      </a>
      
      {% if question.description != '' %}
      <p>
        {{ question.description|cut_description|safe|linebreaksbr }}
      </p>
      {% endif %}
			<small>{% total_answers question.id %} respostas <b>&nbsp;&middot;&nbsp;</b> <span class="text-muted">{{ question.get_naturaltime }}</span></small>&nbsp;|&nbsp;<small>{% question_total_views question.id %} visualizações</small>
		{% if user.is_authenticated %}
				{% answered user.username question.id as ANSWERED %}
				{% if ANSWERED %}
				<span style="display: block"><b>Sua resposta:</b></span> {% answer user.username question.id %}
				{% else %}
					{% ablockb question.creator.user.username user.username as BLOCKED %}
					{% if BLOCKED %}
						<span><br>Pergunta indisponível.</span>
					{% else %}
						<form id="form-{{ question.id }}" class="response-form" onsubmit="make_answer({{ question.id }}); return false;">
							{% csrf_token %}
							<input name="question_id" type="hidden" value="{{ question.id }}">
							<textarea name="text" maxlength="5000" class="form-control" placeholder="Escreva sua resposta aqui" onclick="return show_form_buttons(this.parentElement)"></textarea>
							<input class="btn btn-outline-primary form-button" type="submit" value="Enviar">
							<input class="btn btn-outline-primary form-button" type="submit" value="Cancelar" onclick="return hide_form_buttons(this.parentElement)">
						</form>
						<img style="display: none" id="modal-{{ question.id }}" src="/static/images/loading.gif" width="5%;">
					{% endif %}
				{% endif %}
		{% else %}
		<p><a href="/signin?redirect=/question/{{ question.id }}">Faça login</a> ou <a href="/signup?redirect=/question/{{ question.id }}">crie uma conta</a> para responder está pergunta.</p>
		{% endif %}
		</div>
	</li>
	{% endfor %}
</ul>
{% if questions.has_next %}
  <a class="btn btn-primary infinite-more-link" href="/news?page={{ questions.next_page_number }}">Próxima página</a>
{% endif %}
{% endspaceless %}
